a{
    text-decoration: none;
}
h2{
    border-left: 5px double rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.263);
    padding: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
}
td {
    border: solid 5px #DCDCDC;              /* 枠線指定 */
}
tr {
    border: solid 5px #DCDCDC;              /* 枠線指定 */
}
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
}
.black{
    color: black;
}
.white{
    color: white;
}
.bg-white{
    background-color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item_title{
    font-size: 30px;
    padding-right: 20px;
    border-right: 1px inset black;
}

.item_text{
    line-height: 40px;
}
.item_text_li{
    height: 40px;
    padding-left: 20px;
}


.breadcrumb{
    background-color: white;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}


/*ヘッダー*/

header{
    background-color: rgb(1, 0, 35);
    color: white;
    padding: 5px;
    text-align: center;
}
.link{
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 5px 5px 7px rosybrown;
}
.header-link{
    margin: 1px;
    padding: 5px;
}
.header-link:hover{
    border: 1px solid;
    border-radius: 3px;
    margin: 0px;
}

/* article */
.main_article{
    background-color: #F0F0F0;
    border: 1px solid #C8C8C8;
    width: 1300px;
    margin: 50px auto;
}
.article-div0-div{
    display: flex;
    justify-content: space-evenly;
}
.article_div0_span{
    font-size: 40px;
}
.article_div2{
    margin: 20px 0;
}
.article_div_tr1{
    background-color: #D2D2D2;
}
.article_div_td{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100px;
}
.article_div_td:first-child{
    border-left: 1px solid black;
}





/*フッター*/
.footer-link:hover{
    color: gray;
    font-size: 31px;
}
.copylight{
    margin-top: 20px;
    text-align: center;
}
.footer1{
    background-color: rgb(34, 30, 84);
    color: white;
    padding: 5px;
}
.footer2{
    background-color: rgb(1, 0, 35);
    color: white;
    padding: 5px;
}
.footer-nav-linkmenu + .footer-nav-linkmenu::before{
    content: "|";
    padding-right: 10px;
    padding-left: 10px;
    
}
.footer-nav-linkmenu-ul{
    justify-content: center;
    color: white;
}
.footer-nav-linkmenu a:hover{
    text-decoration: underline;
    color: white;
}
